{%extends 'allinclude.html'%}
 {% block title %}
   Online Booking page
		  {% endblock %}
{% block contant %}

    {% load static %}
<!--================Slider Start=================-->
   <section id="slider_booking">
         <div class="slider_book_Pic"style="background: url({%static 'Allfiles/photo/slider-1.jpg'%})">
            <div class="container">
                <div class="row justify-content-center text-center">
                   <div class="col-md-10">
                      <div class="slider_booking_text">
                           <h4>HOTEL SERVICE</h4>
                           <a href="{% url 'Home' %}">Home</a> <i class="fas fa-slash"></i> <a href="">Online Booking</a>
                        </div>
                   </div>
                </div>
            </div>
         </div>
   </section>

  <!--================Booking part  Start=================-->
  <section id="Booking_part">
     <div class="container">
          <div class="row">
            <div class="col-lg-4">
               <div class="BOOKING_DETAILS">
                   <div class="BOOKING_title">
                     <h2>BOOKING DETAILS</h2>
                     <p>Selected Room</p>
                   </div>
                   <div class="BOOKING_pic">
                     <img src="{%static 'Allfiles/Photo/room-3.jpg'%}">
                     <h4>Double Room</h4>
                     <span><i class="fas fa-dollar-sign"></i>310/per nignt</span>
                   </div>
                   <div class="BOOKING_room_info">
                        <div class="BOOKING_room">
                           <h4>CHECK IN</h4>
                           <span>1/7/2021</span>
                        </div>
                        <div class="BOOKING_room">
                           <h4>ADULT</h4>
                           <span>2</span>
                        </div>
                         <div class="BOOKING_room">
                           <h4>NIGHT</h4>
                           <span>4</span>
                        </div>
                  </div>
                   <div class="BOOKING_room_info1">
                        <div class="BOOKING_room">
                           <h4>ADULT</h4>
                           <span>2</span>
                        </div>
                        <div class="BOOKING_room1">
                           <h4>CHILDREN</h4>
                           <span>3</span>
                        </div>
                        <div class="BOOKING_room1">
                           <h4>TOTAL PRICE</h4>
                           <span><i class="fas fa-dollar-sign"></i>310</span>
                        </div>
                  </div>
               </div>
               <div class="BOOKING_help">
                  <div class="BOOKING_help_title">
                     <h3>NEED HELP FOR BOOKING !</h3>
                     <p>Help</p>
                  </div>
                  <div class="BOOKING_help_icon">
                     <p><i class="fas fa-mobile-alt"></i></p>
                     <span>9182285606</span>
                     <h6>hotellucia@gamil.com</h6>
                  </div>
               </div>
            </div>
            <div class="col-lg-8">
               <div class="BOOKING_from">
                  <div class="BOOKING_from_title">
                     <h3>PERSONAL INFORMATION</h3>
                     <span>Booking form</span>
                     <p>Welcome to Hotel Booking Management, your one-stop solution for hassle-free hotel reservations.Quickly find the perfect hotel for your next stay. Use our search tool to browse and book hotels in the area.</p>
                  </div>
                  <div class="BOOKING_from_info">
                     <form method="POST" action="" enctype="multipart/form-data">
                          {% csrf_token %}
                        <div class="from_info1">
                           <div class="form-group1">
                              <input type="text" name="Check_in" class="form-control"  placeholder="Check in"  required/>
                           </div>
                           <div class="form-group1">
                              <input type="text"  name="Check_out" class="form-control" placeholder="Check out"  required/>
                           </div>
                           <div class="form-group1">
                               <select class="form-control" name="ADULT">
                                 <option value="ADULT">ADULT</option>
                                 <option value="1 ADULT">1 ADULT</option>
                                 <option value="2 ADULT">2 ADULT</option>
                                 <option value="3 ADULT">3 ADULT</option>
                                 <option value="4 ADULT">4 ADULT</option>
                               </select>
                           </div>
                           <div class="form-group1">
                              <select class="form-control" name="CHILDREN">
                                 <option value="CHILDREN">CHILDREN</option>
                                 <option value="1 CHILDREN">1 CHILDREN</option>
                                 <option value="2 CHILDREN">2 CHILDREN</option>
                                 <option value="3 CHILDREN">3 CHILDREN</option>
                                 <option value="4 CHILDREN">4 CHILDREN</option>
                               </select>
                           </div>
                           <div class="form-group1">
                              <input type="text" name="Name" class="form-control" placeholder="Name" required />
                           </div>
                           <div class="form-group1">
                              <input type="text" name="Surname" class="form-control" placeholder="Surname" required />
                           </div>
                           <div class="form-group1">
                              <input type="text" name="Email" class="form-control" placeholder="Email" required />
                           </div>
                           <div class="form-group1">
                              <input type="text" name="Phone_Number" class="form-control" placeholder="Phone Number" required />
                           </div>
                           <div class="form-group1">
                              <input type="text" name="City" class="form-control" placeholder="City" required />
                           </div>
                           <div class="form-group1">
                              <input type="text" name="Country" class="form-control" placeholder="Country" required />
                           </div>
                             <div class="form-group1">
                              <input type="text" name="Nid_No" class="form-control" placeholder="Nid No" required />
                           </div>
                           <div class="form-group1">
                              <input type="file" name="Img" class="form-control" placeholder="Img" required />
                           </div>
                           <div class="form-group1">
                            <textarea name="Address"  placeholder="Address"></textarea>
                           </div>

                        </div>
                        <div class="checkbox3">
                          <input type="checkbox" name="check" required/><label for="">I Agree The Terms & Condition</label>
                        </div>
                        <div  class="onlineBooking_btn" >
                           <button type="submit" >BOOKING Now</button>
                        </div>
                        <div  class="onlineBooking_btn" >
                           <button type="reset">Reset</button>
                        </div>
                     </form>
                  </div>
               </div>
          </div>
          </div>
     </div>
  </section>

  <!--================Booking part end=================-->
  {% endblock %}